<!DOCTYPE html>
<html>
<head>
<title>MiBot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Mi_Bot
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Your Motivational Bot</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">
        <a href="https://discord.com/api/oauth2/authorize?client_id=1042331625574371351&permissions=8&scope=bot" target="_blank">Test on Your Discord</a>
    </p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://studiourbanna.github.io/" target="_blank">stdurb</a>
  </div>
</div>

</body>
</html>
